root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# https://www.python.org/dev/peps/pep-0008/
[*.py]
indent_style = space
indent_size = 4
max_line_length = 119

[*.html]
indent_style = tab

[*.md]
max_line_length = 119
