[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
flake8 = "*"
pytest = "==5.*"

[packages]
django = "==2.2.*"

[requires]
python_version = "3.7"
